export(inkblot)
export(RweaveMWiki)
export(gapminder)
export(print.gapminder)
export(query.gapminder)
export(ckan)
export(print.ckan)
export(query.ckan)
export(dbpedia)
export(print.dbpedia)
export(query.dbpedia)
export(mediawiki)
export(print.mediawiki)
export(query.mediawiki)
export(query)
